<body>
    <div class="section" id="footer">
        <div class="container">
            <div class="mini-spacer"></div>
            <a class="brand" href="index.html"><img src="img/logo.jpg"></a>
            <div class="row">
                <div class="col">
                    <p>
                        <h1>Contact Us</h1>
                        <h2>Email<br></h2>
                        contactus@sicherthai.com<br>
                        <br>
                        <h2>Telephone<br></h2>
                        +(66) 829 599 593<br>
                        <br>
                        <h2>Bangkok Office<br></h2>
                        Bangkok 10330, 18th floor<br>
                        <br>
                        <h2>Rayong Office<br></h2>
                        57 Witthayu Rd, Lumphini, Pathum Wan District,<br>
                        Bangkok 10330, 18th floor<br>
                        <br>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <h1>Follow Us</h1>
                        <button class="email" onclick="window.location.href='mailto:contactus@sicherthai.com'"></button>
                        <button class="facebook" onclick="window.location.href='https://'"></button>
                        <button class="linkedin" onclick="window.location.href='https://'"></button>
                    </p>
               </div>
            </div>
            <p>© 2024 Sicher Co., Ltd.</p>
        </div>
    </div>
</body>