<body>
    <div class="section" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button class="email" onclick="window.location.href='mailto:contactus@sicherthai.com'"></button>
                    <button class="facebook" onclick="window.location.href='https://'"></button>
                    <button class="linkedin" onclick="window.location.href='https://'"></button>
                    <br>
                    <br>
                    <div class="desktop-only">
                        <a class="brand" href="index.html"><img src="img/logo.jpg"></a>
                        <p>© 2024 Sicher Co., Ltd.</p>
                    </div>
                </div>
                <div class="col-sm">
                    <h2>Bangkok Office<br></h2>
                    <p>126/121 Phannika Village Soi 6,<br>Bangweak Rd., Bang Phai Sub-district,<br>Bang Khae District,<br>Bangkok 10610</p>
                    <h2>Rayong Office<br></h2>
                    <p>99/16 Grand Velana Village,<br>Pla Sub-district,<br>Banchang District,<br>Rayong 21130</p>
                    </p>
                </div>
                <div class="col-sm">
                    <h2>Contact Us<br></h2>
                    <p>contactus@sicherthai.com<br>+(66) 829 599 593</p>
                    <button class="button fab" onclick="window.location.href='/contact.html'">
                        Contact Us
                    </button>
                </div>
                <div class="mobile-only">
                    <a class="brand" href="index.html"><img src="img/logo.jpg"></a>
                    <p>© 2024 Sicher Co., Ltd.</p>
                </div>
            </div>
        </div>
    </div>
</body>