<script src="scripts/nav.js"></script>
<body>
    <div id="navcover-section">
        <div class="navcover" id="navcover">
            <div class="section">
                <div class="container">
                    <h1>Services</h1>
                    <div class="row">
                        <div class="col" id="navcover-col-1">
                        </div>
                        <div class="col" id="navcover-col-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md fixed-top shadow section" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="img/logo.jpg"></a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="services">Services  ▾</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="lang">ภาษาไทย ▾</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>