@font-face {
    font-family: 'century';
    src: url('font/century.ttf');
}
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica";
    background: #903331;
}
.container {
    margin: 8px;
    padding: 8px;
}
h1 {
    border-left-color: #903331;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left:16px;
    margin-bottom: 16px;
    line-height: 45pt;
    font-weight: bold;
}
h2 {
    margin-bottom: 16px;
    font-size: 18pt;
    color: grey;
    text-align: center;
}
h3 {
    font-size: 30pt;
    text-align: center;
    margin-bottom: 32px;
    font-weight: bold;
}

.spacer {
    height: 100px;
}
.mini-spacer {
    height: 20px;
}
.divider {
    border-bottom-color: #eee;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


