.section.navbar .container {
    margin: auto;
    max-width: 1200px;
    padding: 0px;
}
.section.navbar {
    padding-top: 0;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .9);
}

.navbar {
    background:#fff;
    padding: 0px;
    font-weight: bold;
    transition: .2s ease;
}
/* both have navbar and b class */
.navbar.at-top {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    background-color: #00000000;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}
.navbar.at-top .navbar-brand,
.navbar.at-top .navbar-collapse .navbar-nav .nav-item .nav-link
{
    color: #fff;
}
.navbar.at-top .nav-link,
.navbar.at-top .navbar-brand img {
    height: 90px;
}
.navbar.at-top .nav-link {
    line-height: 90px;
    height: 90px;
}

.nav-link,
.navbar-brand img {
    color: #903331;
    cursor: pointer;

    padding-left: 2em !important;
    padding-right: 2em !important;
    line-height: 1.5cm;
    height: 45px;
    transition: .2s ease;
    width: auto;
}
.nav-link {
    padding-left: 2em !important;
    padding-right: 2em !important;
    line-height: 30px;
    height: 45px;
}
.nav-link:hover, 
.nav-link.force-on {
    color: #fff;
    opacity: 100;
    transition: .2s ease;
    background-color: #903331;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler-icon {
    color: #000;
}

#lang {
    font-family:'IBM Plex Sans Thai';
}

@media (max-width: 900px) {
    .navbar.at-top .nav-link,
    .navbar.at-top .navbar-brand img {
        height: 70px;
    }
}