.col {
    padding: 0;
}
.tile {
    display: block;
    background: #fff;
    margin: 20px;
    padding: 0;
    border-radius: 5px;
    min-width: 300px;
    height: 350px;
    overflow: hidden;
}
.animation-up {
    opacity: 0%;
}
.c-animation-up {
    opacity: 100%;
    animation: 1s ease 0s 1 kf-animation-up;
}

.tile img {
    border-radius: 5px 5px 0 0;
    margin: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s;
    overflow: hidden;
    height: 100%;
}
.tile .tile-container {
    border-radius: 0 0 5px 5px;
    padding: 30px;
    position: relative;
    transition: all 0.4s;
    background-color: white;
    z-index: 5;
    margin-top: -120px;
    height: 500px;
}
.tile h2
{
    background: 
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(to right, rgba(144, 51, 49, 1), rgba(144, 51, 49, 1));
    background-size: 100% 4px, 10% 4px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding-bottom: 16px;
    text-overflow: ellipsis;
    font-weight: bold;
    color: black;
    text-align: left;
}
.tile p {
    padding-top: 2em;
    font-size: 12pt;
    text-align: left;
}
.tile:hover h2,
.tile:focus h2 {
    opacity: 100%;
    background-size: 0 4px, 80% 4px;
    color: white;
}
.tile:hover img,
.tile:focus img {
    transform: scale(1.1);
}
.tile:hover .tile-container,
.tile:focus .tile-container
{
    transition: all 0.4s;
    margin-top: -350px;
    padding-top: 40px;
    background-color: rgba(144,51,49, .8);
    color: white;
    opacity: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* all .tile children of .custom-class2 will have this*/
/* i guess > is used for elements, but for classes only a space is required!*/
.custom-class2 > .tile {
    overflow: auto;
    background: #ff0000;
}

@keyframes kf-animation-up {
    0% {
        opacity: 0%;
        transform: translateY(10%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}