@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Regular.ttf');
}

html {
    background-color: #fff;
    color: black;
}
body {
    font-family: "Inter";
    padding: 5rem
}
table, th, td {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    border: 1px solid black;
    border-collapse: collapse;
    width: 10rem;
    padding: 0.2rem;
}
td {
    overflow: hidden;
    white-space: nowrap;
}
input, textarea {
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color:#f8f8f8;
    color: black;
    font-size: 10pt;
    border: none;

    margin-bottom: 2rem;
}
input[type="text"] {
    width: 30rem;
}

button, input[type=submit] {
    padding: .5rem 2rem .5rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #000000;
    font-weight: bold;
    border: none;
}
.big, input[type=submit].big {
    padding: 1rem;
}
.box {
    padding: 1rem;
    border: solid grey 1px;
    border-radius: 4px;
    max-width: 50rem;
}