table {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
td {
    width: 10rem
}
input {
    margin-bottom: 2rem;
}
.big {
    padding: 1rem;
}
.style-1 {
    background-color: #003ecf;
    color: white;
}
.box {
    margin-bottom: 1rem;
    padding: 1rem;
    border: solid 1px;
    max-width: 50rem;
}