.top {
    height: 70vh;
    position: relative;
}
.top img {
    position: absolute;

    height: 100%;
    width: 100%;
    object-fit: cover;
}
.top .logo {
    position: relative;
    height: 5em;
    width: auto;
    padding-right: 3em;
}
.top .section {
    margin: 0;
    padding: 0;
}
.top .text {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}
.top .text * {

    color: #fff;
    border-width: 0;
    text-shadow: 5px 5px .3em #00000055;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.top .text h1 {
    font-size: 70pt;
    font-weight: 200;
    line-height: 72pt;
}
.top .text h1 b {
    /*
    font-family: "century";
    */
    font-weight:bolder;
}
.top .text h2 {
    margin-left: 1em;

    font-size: 20pt;
    max-width: 1100px;
    text-align: left;
}
.top .text p {
    margin-left: 1em;

    margin-top: 3em;
    font-size: 15pt;
    max-width: 900px;
}


.top.splash {
    height: 50vh;
    z-index: -500;
}
.top.splash.small {
    height: 30vh;
}
.top.splash.small h1 {
    text-align: center;
}
.top.splash h1 {
    font-size: 40pt;
    line-height: 40pt;
    z-index: -500;
    width: 80%;
}
.top.splash img {
    filter: grayscale(100%);
    background-color: #A33035;
    opacity: 50%;
}
.top.splash .section {
    height: 0;
}
.client-brands .inner{
    margin:auto;
}
.client-brands img {
    height: 10rem !important;
    filter: sepia(100%) hue-rotate(-45deg) saturate(200%);
}





.client.carousel {
    margin-left: -8em;
    margin-right: -8em;
}
.client.carousel-inner {
    height: 12em;
    padding-left: 8em;
    padding-right: 8em;
}
.client.carousel-item .inner {
    margin: auto;
    padding: auto;
}
.client.carousel-item img {
    height:10em;
    width: auto;
    padding: 1em;
}
.client.carousel li {
    background-color: black;
}
.client.carousel .carousel-control-next-icon {
    background-color: black;
}
.client.carousel .carousel-control-prev-icon {
    background-color: black;
}
#a-1 {
    padding-left: 5em;
}
#a-2 {
    padding-left: 3em;
}

.carousel-next-page {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: block;
    margin: auto;
    margin-top: -200px;
    margin-bottom: 150px;
    height: 50px;
    width: 50px;
    position: relative;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 200ms;
}
.carousel-next-page:hover {
    border-width: 0 6px 6px 0;
}
#lecture-carousel-list {
    height: 22rem;
    margin: auto;
}
#lecture-carousel-list {
    margin-top: -1rem;
}

@media (max-width: 900px) {
    .top .section .container {
        padding: 0;
    }
    .top .text {
        width: 100%;
        text-align: center;
    }
    .top .text h1 {
        font-size: 40pt;
        margin-left: 0;
        padding-left: 0;
        line-height: 40pt;
    }
    .top .text h2 {
        margin-top: 2em;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14pt;
        text-align: center;
    }
    .top .text p {
        margin-top: 2rem;
        font-size: 12pt;
    }
    .top {
        height: 50vh;
    }
    .top .spacer {
        height: 10px;
    }
    .top .logo {
        margin: auto;
        padding: 0;
        height: 3em;
        display: block;
    }

    .top.splash h1 {
        width: 100%;
    }
    .carousel-next-page {
        margin-top: -150px;
        margin-bottom: 130px;
        width: 20px;
        height: 20px;
    }
    .carousel-control-next-icon {
        margin-left: -10rem;
        opacity: 100%;
    }
    .carousel-control-prev-icon {
        margin-right: -10rem;
        opacity: 100%;
    }
    .client-brands img {
        height: 5rem !important;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}