.lecture-tile {
    background-color: white;
    padding: 2rem;
}
.lecture-tile h1 {
    margin-top: 0;
    border: none;
    padding: 0 .7rem 1rem 0;
    display: block;
    font-size: 32pt;
    line-height: 1.15;
}
.lecture-tile h2 {
    font-size: 20pt;
    display: inline;
}
h1 {
    margin-top: 2rem;
}

table, th, td {
    overflow: hidden;
    text-overflow: ellipsis; 
    border-collapse: collapse;
    height: 2rem;
    width: auto;
    padding: 1rem;
    margin-top: 2rem;
    background-color:hsl(0, 20%, 98%);
}
table {
    width: 100%;
}
.alt-tr td {
    background-color:hsl(0, 20%, 90%);
}
.book-button-td {
    width: 1rem;
}
.book-button-td button {
    margin: auto;
    padding: .5rem 2rem .5rem 2rem;
}

@media (max-width: 900px) {
    .lecture-tile {
        padding: 0.5rem;
    }
    table, th, td {
        padding: 0.5rem;
        font-size: 10pt;
    }
    .book-button-td button {
        margin: auto;
        font-size: 10pt;
        padding: .3rem 1rem .3rem 1rem;
    }
    .lecture-tile h1 {
        font-size: 24pt;
    }
    .lecture-tile h2 {
        font-size: 20pt;
    }
}