.lecture-tile {
    background-color: white;
    padding: 2rem;
}
.lecture-tile h1 {
    margin-top: 0;
    border: none;
    padding: 0 .7rem 1rem 0;
    display: block;
    font-size: 32pt;
    line-height: 1.15;
}
.lecture-tile h2 {
    font-size: 20pt;
    display: inline;
}
h1 {
    margin-top: 2rem;
}

@media (max-width: 900px) {
    .lecture-tile {
        padding: 0.5rem;
    }
    .lecture-tile h1 {
        font-size: 24pt;
    }
    .lecture-tile h2 {
        font-size: 20pt;
    }
}