@font-face {
    font-family: 'century';
    src: url('/font/century.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/Inter-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/font/PlayfairDisplay/PlayfairDisplay-Thin.ttf');
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    background-color: #000;
    transition: background-color 1000ms;
}
.container {
    margin: 3rem;
    padding: 3rem;
}
h1 {
    border-left-color: #A33035;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 16px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    line-height: 35pt;
    font-weight: 300;
    font-size: 26pt;
}
h2 {
    font-weight: 300;
    color: black;
    font-size: 30pt;
    text-align: center;
    margin-bottom: 2rem;
}
h3 {
    font-weight: 300;
    color: gray;
    font-size: 20pt;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h4 {
    font-weight: 300;
    color: grey;
    margin-bottom: 64px;
}
p {
    font-size: 12pt;
    text-align: justify;
}

.brand img {
    color: #000;
    cursor: pointer;

    height: 8rem;
    margin-bottom: 4rem;
    width: auto;
}
.spacer {
    height: 100px;
}
.mini-spacer {
    height: 20px;
}
.divider {
    border-bottom-color: #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 100%;
}

.mobile-only {
    display: none;
}
.desktop-only {
    display: auto;
}

@media (max-width: 900px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    h1 {
        font-size: 22pt;
    }
    h2 {
        font-size: 24pt;
    }
    h3 {
        font-size: 14pt;
    }
    p {
        font-size: 10pt;
    }
}