.section.navbar .container {
    margin: auto;
    max-width: 76rem;
    padding: 0;
}
.section.navbar {
    padding-top: 0;
    background-color: #fff;
}

.navbar {
    background:#fff;
    padding: 0;
    transition: .2s ease;
    height: 5rem;
    border-color: #d0d0d0;
    border-width: 5px;
    font-size: 14pt;
}
/* both have navbar and b class */
.navbar.at-top {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
    background-color: #00000000;
}
.navbar.at-top .brand,
.navbar.at-top .navbar-collapse .navbar-nav .nav-item .nav-link
{
    color: #fff;
}
.navbar.at-top .nav-link,
.navbar.at-top .brand img {
    height: 6rem;
}
.navbar.at-top .nav-link {
    line-height: 90px;
    height: 90px;
}

.nav-link,
.navbar .brand img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2em !important;
    padding-right: 2em !important;
    line-height: 1.5cm;
    height: 4rem;
    transition: .2s ease;
}
.nav-link {
    color: black;
    padding-left: 2em !important;
    padding-right: 2em !important;
    line-height: 3rem;
    height: 4rem;
}
.nav-link span {
    display: inline-block;
    vertical-align: middle;

}
.nav-link:hover, 
.nav-link.force-on {
    color: #fff;
    opacity: 100;
    transition: .2s ease;
    background-color: #A33035;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler-icon {
    color: #000;
}

#lang {
    font-family:'IBM Plex Sans Thai';
}

@media (max-width: 900px) {
    .navbar.at-top .nav-link,
    .navbar.at-top .navbar-brand img {
        height: 5rem;
    }
}