.news-tile {
    display: block;
    background: #fff;
    padding: 30px;
    max-width: 800px;
    overflow: hidden;
    height: auto;
}
.news-tile h2 {
    font-size: 18pt;
    margin-bottom: .5em;
    color: black;
}
.news-tile:hover h2,
.news-tile:focus h2 {
    color: black;
}
.news-tile p {
    display: inline;
}
.news-tile p b {
    color: #A33035;
}