.news-tile {
    display: block;
    background: #fff;
    padding: 2rem;
    height: 19rem;
    max-width: 800px;
}
.news-tile h2 {
    margin-bottom: .5em;
    height: 6rem;
    overflow: hidden;
}
.news-tile:hover h2,
.news-tile:focus h2 {
    color: black;
}
.news-tile p {
    height: 6rem;
    overflow: hidden;
}
.news-tile p b {
    word-wrap: break-word;
    color: #A33035;
}
@media (max-width: 900px) {
    .news-tile h2, .news-tile p {
        height: auto;
    }
    .news-tile {
        height: 20rem;
    }
}
