.scholauth {
    font-family: "Inter";
}

.scholauth .scholauth-container {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-width: 20rem;
}
.scholauth .hidden {
    display: none;
    visibility: hidden;
    position: absolute;
}
/* there are multiple pages (e.g., login, register, checkout) in that one container */
.scholauth .scholauth-page {
    min-height: 10rem;
}

.scholauth .scholauth-h1 {
    font-size: 20pt;
    font-weight: 600;
    margin-bottom: 1rem;
}
.scholauth .scholauth-p,li,label,textarea,input,select,button {
    font-weight: regular;
    font-size: 12pt;
    line-height: 1.5;
}
.scholauth input[type=text], input[type=password], select, textarea {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 0.7rem;
    margin-top: 0.3rem;
    font-size: 12pt;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 20rem;
}
.scholauth .error-text {
    white-space: pre;
    transition-delay: 0s;
    display: block;
    margin-top: -.5rem;
    margin-bottom: 0;
    color: #D41C3A;
    font-size: 12pt;
}
.scholauth form .shake {
    animation: shake ease-in-out .4s;
}
.scholauth .scholauth-logo-container {
    color: #D41C3A;
}
.scholauth .scholauth-logo-container img {
    width: 9rem;
    margin-left: .2rem;
    margin-top: .1rem;
    display: inline;
}
.scholauth .scholauth-logo-container {
    margin-top: 3rem;
}
.scholauth .scholauth-button-container {
    margin-top: 1rem;
}

.scholauth a.button, .scholauth button {
    background-color:#D41C3A;
    text-decoration: none;
    color: white;
    padding: .9rem 1.2rem .9rem 1.2rem;
    margin-top: 1rem;
    border-radius: 12px;
    cursor: pointer;
    border: none;

    font-size: 10pt;
    display: inline;
    transition: .2s ease;
}
.scholauth a.button:hover, .scholauth button:hover {
    background-color:#A1152C;
}

.scholauth a.button.style2, .scholauth button.style2 {
    background-color:#D41C3A20;
    color: #D41C3A;
    letter-spacing: 0.5px;
}
.scholauth a.button.style2:hover, .scholauth button.style2:hover {
    background-color:#D41C3A50;
}

.scholauth .scholauth-loader {
    border: .5rem solid #f3f3f3; /* Light grey */
    border-top: .5rem solid #D41C3A; /* Blue */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 0.5s linear infinite;
    display: inline-block;
}
.scholauth .scholauth-shimmer {
    background-color: grey;
    height: 2rem;
    margin: 1rem 0 1rem 0;
    border-radius: 8px;
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    max-width: 20rem;
 }

 .scholauth a {
    text-decoration: none !important;
    color: grey !important;
    font-weight: normal;
    font-size: 10pt;
 }

 @keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    50% { transform: translateX(-10px) }
    75% { transform: translateX(10px) }
    100% { transform: translateX(0) }
}
@media (max-width: 900px) {
    .scholauth .scholauth-container {
        margin: 0;
        padding: 1.5rem;
        min-width: 0;
    }
}