.search > span {
    display:inline;
    position:absolute;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    color: black !important;
    text-shadow: none !important;
}

.search > form {
    margin: auto;
    display:inline;
}

.search > form > input[type=text]:focus {
    outline: none;
}

.search > form > input[type=text] {
    border: none;
    border-radius: 2rem;
    height: 4rem;
    width:100%;
    padding-left: 3rem;
}