.section {
    background-color: #f8f8f8;
    padding: 0;
    margin-bottom: 0;
}
.section.color-1 {
    background-color: #ffffff;
}
.section.color-1 h1 {
    padding-left: 0;
    border: none;
    font-size: 40pt;
    margin-top: 0;
}
.section.color-1 p, .section.color-1 h3 {
    text-align: left;
}
.section.color-2 {
    background-color: #f8f0f0;
}
.section.color-2 h2, .section.color-2 h3 {
    color: #800000;
}
.section.color-3 {
    background-color: #ffffff;
}

.section .container {
    margin: auto;
    max-width: 80rem;
    padding: 3rem;
}
.section .container .row {
    margin: 0;
}
@media (max-width: 900px) {
    .section .container {
        margin: auto;
        max-width: 80rem;
        padding: 1.5rem;
    }
    .section.color-1 h1 {
        font-size: 24pt;
        margin-bottom: 0;
    }
}