.col {
    padding: 0;
}
.tile {
    display: block;
    background: #fff;
    background-color: #A33035;
    margin: 1.5rem;
    min-width: 18rem;
    height: 24rem;
    overflow: hidden;
}
.animation-up {
    opacity: 0%;
}
.c-animation-up {
    opacity: 100%;
    animation: 1s ease 0s 1 kf-animation-up;
}

.tile img {
    opacity: 70%;
    margin: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s;
    overflow: hidden;
    height: 100%;
}
.tile .tile-container {
    padding: 2rem;
    position: relative;
    transition: all 0.4s;
    background: #fff;
    z-index: 5;
    margin-top: -8rem;
    height: 50rem;
}
.tile h2
{
    font-size: 18pt;
    background: 
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      linear-gradient(to right, rgba(144, 51, 49, 1), rgba(144, 51, 49, 1));
    background-size: 100% 4px, 10% 4px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    text-align: left;
}
.tile p {
    text-align: left;
}
.tile:hover h2,
.tile:focus h2 {
    opacity: 100%;
    background-size: 0 4px, 80% 4px;
    color: white;
}
.tile:hover img,
.tile:focus img {
    transform: scale(1.1);
}
.tile:hover .tile-container,
.tile:focus .tile-container
{
    border-radius: 5px;
    transition: all 0.4s;
    margin-top: -24rem;
    padding-top: 40px;
    background-color: rgba(144,51,49, .8);
    color: white;
    opacity: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* all .tile children of .custom-class2 will have this*/
/* i guess > is used for elements, but for classes only a space is required!*/
.custom-class2 > .tile {
    overflow: auto;
    background: #ff0000;
}

.search {
    background: #fff;
    height: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    max-width: 30rem;
}

@keyframes kf-animation-up {
    0% {
        opacity: 0%;
        transform: translateY(10%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
@media (max-width: 900px) {
    .tile {
        margin: 1.5rem 0 1.5rem 0;
        height: 20rem;
    }
    .tile h2 {
        font-size: 16pt;
    }
    .tile:hover .tile-container,
    .tile:focus .tile-container
    {
        margin-top: -20rem;
    }
}